{% extends 'base.html' %}

{% block content %}

    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">ISAA</a>
        {% if host_up %}
            <span class="badge badge-success">Host is UP</span>
        {% else %}
            <span class="badge badge-danger">Host Unreachable</span>
        {% endif %}
    </nav>

    {% if host_up %}
        <form id="scanForm">
            <div class="ia-form p-2">
                <div class="form-group">
                    <input class="form-control m-2" type="number" id="minPort" placeholder="Minimum Port" min="0"
                           max="65535" required>
                </div>
                <div class="form-group">
                    <input class="form-control m-2" type="number" id="maxPort" placeholder="Maximum Port" min="0"
                           max="65535" required>
                </div>
                <button type="submit" class="btn btn-outline-success m-2 " id="btnScan">Start Scan</button>
            </div>
        </form>

        <div class="ia-form">
            <ul class="list-group list-group-flush" id="scanResult">

            </ul>
        </div>
    {% endif %}

    <script type="text/javascript">
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        const xhttp = new XMLHttpRequest();
        const form = document.getElementById('scanForm');
        const btnScan = document.getElementById('btnScan');
        const scanResult = document.getElementById('scanResult');

        xhttp.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 200) {
                const res = JSON.parse(this.responseText);

                for (var i = 0;
                     i < res.length;
                     i++
                ) {
                    const li = document.createElement('li');
                    li.classList.add("list-group-item");
                    li.appendChild(document.createTextNode(`Port ${res[i]}: Open`));
                    scanResult.appendChild(li);
                }
                btnScan.innerHTML = "Start Scan";
            }

        }

        function startScan() {
            const minPort = document.getElementById("minPort").value;
            const maxPort = document.getElementById("maxPort").value;
            xhttp.open("GET", `/scan?minPort=${minPort}&maxPort=${maxPort}`, true);
            xhttp.send()
        }


        form && form.addEventListener('submit', function (e) {
            e.preventDefault();
            scanResult.innerHTML = null;
            btnScan.innerHTML = `
                <div class="spinner-border" role="status">
                  <span class="sr-only">Loading...</span>
                </div>`
            startScan();
        })
    </script>

{% endblock %}